*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "TT Lakes";
    src: url(./font/TTLakes-Medium.woff);
    font-weight: 500;
}
@font-face{
    font-family: "TT Lakes";
    src: url(./font/TTLakes-Regular.woff);
    font-weight:400;
}

body{
    font-family: "TT Lakes";
    min-width: 320px;
    height: auto;
}

.all-list{
    min-width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.ligo-section{
    width: 184px;
}

.list-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2;
    color: #7E7E82;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px;
}

.swiper-wrapper{
   display: flex;
   gap:16px;
   margin-left: 16px;
}

.arrow-go{
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    display: flex;
    flex:1;
    margin-right: 16px;
}

.logo-img{
    display: flex;
    justify-content: flex-start;
   
}

.swiper-slide{
    width:240px;
    height: 72px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:16px;
    background-color: #ffffff;

}

.pagination-wrapper{
    display:flex;
    margin-top:40px;
}

/*display none*/


.arrow-watch-all{
    display: none;
}

@media (min-width:768px) and (max-width:1120px){

    .list-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 16px 0 16px 24px;
        width:100%;
        height: 56px;
        background:linear-gradient(to right, #F8F8F8,#FFFFFF);
    }


    .all-list{
        width: 100%;
        background-color: #F8F8F8;
    }

    .arrow-watch-all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
    margin:24px 0 24px 24px;
    border:1px solid transparent;
    background-color:#F8F8F8;
}



.swiper-wrapper {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 24px;
  max-height: 184px;   
  overflow: hidden;    
  transition:0.4s ease;
  margin-left: 24px;
}

.swiper-wrapper.show-all {
  max-height: none;      
}

.swiper-slide {
    display: flex;
  padding: 10px;
  text-align: center;
  font-weight: bold;
     width:240px;
    height: 72px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:16px;
    background-color: #ffffff;

}


.swiper-slide{
    width: 224px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:16px;
}


.arrow-watch-all:hover {
  color: rgba(126, 126, 130, 0.6);
}

/*display none*/
.pagination-wrapper{
    display: none;
}


}


@media(min-width:1120px) {


     .list-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 16px 0 16px 32px;
        width:100%;
        height: 56px;
        background:linear-gradient(to right, #F8F8F8,#FFFFFF);
    }

      .arrow-watch-all{
        width: 133px;
        height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:9px;
    margin: 31px;
    border:1px solid transparent;
    background-color:#F8F8F8;
}


.swiper-wrapper {
    margin-left:32px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: 32px;
  max-height: 184px;
  overflow: hidden; 
  transition:0.4s ease;
}

.swiper-wrapper.show-all {
  max-height: none; 
}

.swiper-slide {
    display: flex;
  padding: 10px;
}
   
.pagination-wrapper{
    display: none;
}

}